ion-content {
  --background: #eaeeef;
}

.icon-head-io {
  font-size: 20px;
  color: #687d7b;
}

.label-title-column {
  color: #333;
}

.label-title-column-io {
  color: #333;
  font-size: 14px;
}

.penghargaan-io {
	text-align: center; padding-top: 10px; padding-bottom: 10px;
}

.penghargaan-iio {
	text-align: center; border-left: 1px solid #e1e1e1; padding-top: 10px; padding-bottom: 10px;
}

ion-thumbnail {
	width: 60px;
	height:60px;
}

ion-thumbnail img {
	border-radius: 20px;
}

.np {
	font-size: 12px;
}

ion-item ion-icon {
	font-size: 25px
}

.npklik {
	color: #3880ff;
}
