<ion-header no-border>
  <ion-toolbar>
    <ion-title>	Aktivasi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item lines="none">
			<ion-label class="marketing-t1" text-wrap>
				<p>Kami telah mengirimkan kode aktivasi ke {{opsi_aktivasi}}. Gunakan kode tersebut untuk aktivasi login anda.</p>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-input type="text" placeholder="Kode aktivasi" [(ngModel)]="kode_verifikasi"></ion-input>
		</ion-item>

		<ion-button expand="full" padding color="primary" (click)="verifikasiKode()" [disabled]="disableButton">Aktivasi Login</ion-button>

		<p class="marketing-t1" padding>
			Kirim ulang kode aktivasi?
			<span>Kirim</span>
		</p>

	</ion-list>
</ion-content>