<ion-header>
  <ion-toolbar>
  	<ion-title>Syarat & Ketentuan #T60</ion-title>
    <ion-buttons size="small" shape="round" slot="start" (click)="closeModal()">
    	<ion-button size="small" shape="round">
		    <ion-icon name="close" class="headicon"></ion-icon>
		</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item lines="none">
    	<ion-label text-wrap class="info-game color-333">
     		Blba bla bla Blba bla bla Blba bla bla Blba bla bla Blba bla bla Blba bla bla Blba bla bla Blba bla bla.
	    </ion-label>
	</ion-item>
</ion-content>
